doctype html
html(lang='zh-CN', ng-app='ourblog')
  head
    meta(charset='utf-8', http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='description', content='Blog of Team 0x2642')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title #{title} 0x2642 Blog
    link(rel='stylesheet', href='styles/normalize.css')
    link(rel='stylesheet', href='styles/main.css')
  body
    block content




    

