extends header

block content
	header(class='header')
		.container
			.header-logo clearfix
				img(src='https://avatars2.githubusercontent.com/u/12589920?v=3&s=120')
			.header-title clearfix
				h1
					a(href="#/") 0x2642 Blog
				p(class='header-intro')	//当你下班的时候想想还在加班的教主
			nav(class='navbar clearfix')
				ul(class='navbar-list')
					li(class='navbar-item')
						h3(class='navbar-link')
							a(ng-href="#/") Home
						p(class='navbar-desc') 肮脏的主页
					li(class='navbar-item')
						h3(class='navbar-link')
							a(ng-href="#/tag/code") Code
						p(class='navbar-desc') 加班之道
					li(class='navbar-item')
						h3(class='navbar-link')
							a(ng-href="#/tag/acg") ACG
						p(class='navbar-desc') 萌萌二次元
					li(class='navbar-item')
						h3(class='navbar-link')
							a(ng-href="#/tag/life") Life
						p(class='navbar-desc') 生活与哲学
			.header-search
				.search-input clearfix
					input(type='text', placeholder='搜索', id='searchInput')			
				.search-result		
	
	.contents
		.container
			div(ng-view='')
	
	footer(class='footer')
		.container
			p Powered by Team 0x2642

	scripts(src='js/app.js')
	scripts(scr='js/controllers.js')
	scripts(scr='js/directive.js')
	scripts(scr='js/filter.js')
	scripts(scr='js/services.js')
	scripts(scr='js/jquery/dist/jquery.min.js')
	scripts(scr='js/angular/angular.min.js')
	scripts(scr='js/angular-route/angular-route.min.js')
	scripts(scr='js/angular-resource/angular-resource.min.js')
	scripts(scr='js/angular-animate/angular-animate.min.js')