<div class="list-header">
	<p>{{meta}}</p>
</div>
<div class="list-body">
	<div class="list-item" ng-repeat="article in articles">
		<div class="item-thumb">
		    <div class="thumb-image" style="display: block;opacity: 1;background-image:url('{{article.thumb}}')"></div>
		</div>
		<div class="item-info">
		    <div class="info-main">
		        <h2><a ng-href="#/article/{{article.id}}">{{article.title}}</a></h2>
		        <div class="tags clearfix">
		            <a ng-repeat="tag in article.tags" ng-href="#/tag/{{tag}}">{{tag}}</a>
		        </div>
		        <p>{{article.description}}</p>
		    </div>
		    <div class="info-meta">
		        <p><a ng-href="#/author/{{article.author.id}}">{{article.author.name}}</a></p>
		        <p>{{article.timestamp|date:"yyyy-MM-dd"}}</p>
		    </div>
		</div>
	</div>
</div>
<div class="list-footer">
	<button ng-click="previousPage()" ng-hide="(pagenation.current==1)" class="large">上一页</button>
	<button ng-click="nextPage()" ng-hide="(pagenation.current==pagenation.max)" class="large">下一页</button>
</div>
