<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Page couldn't be found.</title>
        <link rel="stylesheet" media="screen" href="../styles/adminStyles/err_style.css">
        
        <script language="JavaScript">
            function dosearch() {
            var sf=document.searchform;
            var submitto = sf.sengine.value + escape(sf.searchterms.value);
            window.location.href = submitto;
            return false;
            }
        </script>
    </head>
    <body>
        
        <div class="header">
            <img src="../images/adminPic/Logo_sample.png" />
        </div>
        
        <p class="error">404</p>
        
        <div class="content">
            <h2>我们发现了一个错误</h2>
            
            <p class="text">
                <%= err_msg %>
                <!-- Change www.yoursite.com to your website domain -->
            </p>
                
            <p class="links">
                 <a href="/admin/login">Homepage</a> <a href="#">About Us</a> <a href="#">Blog</a>
                <!--These are links. You can change it to a page you want to by replacing the '#' with your url.-->
            </p>
        </div>
        
    </body>
</html>