<html lang="zh-CN"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title><%= title %>  </title>

    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	<link href="../../../styles/admin.css" rel="stylesheet">
	<script src="../../../bower_components/jquery/dist/jquery.min.js"></script>
  </head>

  <body class="login-body">

    <div class="container">

      <form class="form-signin" method="post" action="/admin/confirmAuthorized">
        <h2 class="form-signin-heading">Confirm Authorized</h2>
        <% if (msg!='') { %>  
        <div class="alert alert-danger" role="alert"><%= msg %></div>
        <% } %> 
        <label for="code" class="sr-only">Code</label>
        <input type="text" name="code" id="code" class="form-control" placeholder="Code" required="">
        <label for="Seed" class="sr-only">Seed</label>
        <input type="text" name="seed" id="seed" class="form-control" placeholder="Seed" required="">
        <input type="hidden" name="token" value="<%= token %>">
        <div class="checkbox">
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Download Certificate</button>
      </form>

    </div> <!-- /container -->
</body>
<div>
</div>
</html>