<% include ./layout/header.ejs %>

<div id="container">
  
</div>
<script type="text/javascript" src="../scripts/admin/components/list.js"></script>
<script type="text/javascript" src="../scripts/admin/userlist.js"></script>
<% include ./layout/footer.ejs %>