<p class="edit-item">标题</p>
<input type="text" ng-model="article.title" size="70"/>
<p class="edit-item">简介</p>
<input type="text" ng-model="article.description" size="70"/>
<p class="edit-item">缩略图</p>
<input type="text" ng-model="article.thumb" size="70"/>
<p class="edit-item">内容</p>
<textarea name="editor" id="editor" cols="70" rows="20" ng-model="article.text"></textarea>
<p class="edit-item">标签</p>
<input type="text" ng-model="tags" size="70"/>
<br/><br/>
<button ng-click="save()">提交</button>