<header class="header">
  <div class="container">
    <div class="header-logo clearfix">
      <img src="https://avatars2.githubusercontent.com/u/12589920?v=3&s=120" />
    </div>
    <div class="header-title clearfix">
      <h1><a href="#/">0x2642 Blog</a></h1>
      <p class="header-intro">//当你下班的时候想想还在加班的教主</p>
    </div>
    <nav class="navbar clearfix">
      <ul class="navbar-list">
        <li class="navbar-item">
          <a class="navbar-link" ng-href="#/">Home</a>
          <p class="navbar-desc">肮脏的主页</p>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" ng-href="#/tag/code">Code</a>
          <p class="navbar-desc">加班之道</p>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" ng-href="#/tag/acg">ACG</a>
          <p class="navbar-desc">萌萌二次元</p>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" ng-href="#/tag/life">Life</a>
          <p class="navbar-desc">生活与哲学</p>
        </li>
      </ul>
    </nav>
    <div class="header-search">
      <div class="search-input clearfix">
        <input type="text" placeholder="搜索" id="searchInput" />
      </div>
      <div class="search-result"></div>
    </div>
  </div>
</header>

<div class="contents">
  <div class="container">
    <div ui-view="content"></div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p>Powered by Team 0x2642</p>
  </div>
</footer>