/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,body{
    padding: 0;
    margin: 0;
}
html {
    color: #000;
    font-size: 16px;
    font-family: "Microsoft Yahei";
    line-height: 1.25;
    background-color: #EDEDED;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Component classes
   ========================================================================== */

a{
    color: #333;
    text-decoration: none;
}
a:hover{
    color: #000;
    text-decoration: underline;
}
button {
    height: 20px;
    line-height: 16px;
    border: 1px solid #999;
    border-radius: 2px;
    background-color: inherit;
    font-size: 12px;
    color: #999;
}
button:hover{
    border-color: #666;
    color: #333;
}
button.large {
    height: 40px;
    font-size: 24px;
    line-height: 32px;
    border-radius: 4px;
    padding: 3px 16px;
}

input[type='text']{
    font-size: 24px;
    line-height: 32px;
    border-radius: 4px;
    padding: 4px 8px;
    background-color: #FFF;
    color: #333;
    border: 0;
}

/* ==========================================================================
   Common classes
   ========================================================================== */
.header-title h1,
.header-intro,
.navbar-list,
.navbar-link,
.navbar-desc{
    margin: 0;
    padding: 0;
}

.header{
    height: 280px;
    background: #AA66FF;
}
.header-logo{
    height: 120px;
    float: left;
    padding: 80px 0;
    background-color: rgba(0,0,0,0.6);
    width: 30%;
}
.header-logo>img{
    float: right;
    padding-right: 20px;
}
.header-title{
    float: left;
    padding: 80px 0;
    width: 70%;
}
.header-title a{
    color: #FFF;
}
.header-title a:hover{
    color: #FFF;
    text-decoration: none;
}
.header-title h1,.header-intro{
    margin-left: 20px;
}
.header-title h1{
    font-size: 64px;
    line-height: 80px;
}
.header-intro{
    color: #333;
    font-size: 32px;
    line-height: 40px
}
.navbar{
    float: left;
    padding: 40px 0;
    width: 30%;
    height: 100%;
}
.navbar-list{
    margin-right: 40px;
    float: right;
}
.navbar-item{
    list-style: none;
    text-align: right;
    min-width: 200px;
    height: 80px;
    border-bottom: 1px solid #AAF;
    margin-bottom: 20px;
    padding-right: 10px;
}
.navbar-link{
    font-style: normal;
    text-transform: uppercase;
    line-height: 40px;
    font-size: 32px;
}
.navbar-link>a{
    color: #336;
}
.navbar-link>a:hover{
    color: #669;
    text-decoration: none;
}
.navbar-desc{
    color: #669;
    font-style: italic;
}
.header-search{
    width: 100%;
    height: 40px;
    padding-top: 220px;
    padding-bottom: 20px;
    position: absolute;
    top: 0;
    left: 0;
}
.search-input{
    width: 30%;
}
#searchInput{
    float: right;
    margin-right: 20px;
    background-color: rgba(255,255,255,0.2);
}
#searchInput:focus{
    background-color: #FFF;
}

.contents{
    padding-left: 30%;
    background-color: #DDCCFF;
}
.contents .container{
    min-height: 500px;
    padding: 40px;
    background-color: #FFFFFF;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   Responsive classes
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
